name: Build Staging and Deploy to Cloudflare Pages

on:
    push:
        branches:
            - 'main'

concurrency:
    group: cloudflare-pages-build-staging
    cancel-in-progress: true

jobs:
    build_to_cloudflare_pages:
        timeout-minutes: 30
        runs-on: ubuntu-latest
        environment: staging
        steps:
            - name: Checkout to main branch
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: Get cached dependencies
              id: cache-npm
              uses: actions/cache@v4
              with:
                  path: node_modules
                  key: npm-${{ hashFiles('./package-lock.json') }}

            - name: Install dependencies
              if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
              run: npm ci
              shell: bash

            - name: Build
              run: npm run build
              env:
                NODE_ENV: staging

            - name: Run tests for Eslint
              run: npm run lint

            - name: List output folder contents for debugging
              run: ls -lR ./out 

            - name: Publish to Cloudflare Pages
              uses: "deriv-com/shared-actions/.github/actions/publish_to_pages_branch@master"
              with:
                CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                project_name: ${{ secrets.CLOUDFLARE_PROJECT_NAME }}
                branch_name: staging
                output_dir: out
                directory: dist
                cname_url: staging-p2p.champion.trade